.search-btn:hover {
  color: var(--success) !important;
}
footer a {
  color: #fff !important;
}
.card-item {
  box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 25%);
  cursor: pointer;

  & a {
    background: #144602;
    color: #fff;
    padding: 0.5em;
    border: 1px solid #144602;
  }
  & a:hover {
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 25%);
  }
  & img {
    height: 16em;
  }
}
.card-item:hover {
  box-shadow: 0px 8px 14px 7px rgba(0, 0, 0, 0.25);
}
#fullContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#login:hover {
  background: #144602 !important;
  color: #fff !important;
}

.svg-inline--fa {
  width: 2em;
}

#basic-navbar-nav {
  width: 100% !important;
}

input::placeholder {
  color: black !important;
}

$theme-colors: (
  "primary": #144602,
);

#searchInput:focus {
  outline: none;
  box-shadow: none;
}
#searchInput {
  background: transparent !important;
  color: black;
  position: relative;
  z-index: 1;
}

#searchContainer:focus-within {
  background: rgb(235, 234, 234) !important;
}

#basic-nav-dropdown,
.navbar-toggler,
.navbar-toggler.collapsed {
  color: #fff !important;
}
.navbar-toggler.collapsed {
  border: 1px solid #fff !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
