.search-btn:hover {
  color: var(--success) !important;
}
.svg-inline--fa {
  min-width: 1.7em;
}

#fullContainer {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input::placeholder {
  color: black !important;
}

$theme-colors: (
  "primary": #144602,
);

#searchInput:focus {
  outline: none;
  box-shadow: none;
}
#searchInput {
  background: transparent !important;
  color: black;
  position: relative;
  z-index: 1;
}

#searchContainer:focus-within {
  background: rgb(235, 234, 234) !important;
}

#basic-nav-dropdown,
.navbar-toggler,
.navbar-toggler.collapsed {
  color: #fff !important;
}
.navbar-toggler.collapsed {
  border: 1px solid #fff !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
